<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles.css" />
		<title>Mini Messageboard</title>
	</head>
	<body>
		<div class="error-page">
			<h1>Error cannot we found the page you were looking for</h1>
			<a href="/">Go back to home page...</a>
		</div>
	</body>
</html>
