*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--dark-blue: rgb(19, 14, 36);
	--gray: rgb(226, 226, 255);
	--light-clr: rgb(247, 252, 232);
	--peach-clr: rgb(252, 208, 155);
	--green-clr: rgb(5, 248, 46);
}

body {
	background-color: var(--light-clr);
	color: var(--dark-blue);
	font-family: "Times New Roman", Times, serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-weight: 600;
	font-size: 2.1rem;
	color: var(--dark-blue);
}

a {
	text-decoration: none;
	color: inherit;
}

.message-board {
	height: 100%;
	width: 100vw;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	align-items: center;
}

.message-header {
	width: 100%;
	padding: 0.8rem;
	text-align: center;
	background-color: var(--peach-clr);
}

.message-container {
	width: 80%;
	background-color: var(--gray);
	padding: 1rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.messages {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0.5rem;
	border-bottom: 1px solid;
}

.messages:last-child {
	border-bottom: none;
}

.message-left {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}

.message-left p:first-child {
	font-weight: bold;
}

.message-right {
	font-size: 0.8rem;
	font-style: italic;
}

.add-message {
	width: 20%;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	padding: 0.7rem;
	background-color: var(--green-clr);
	font-weight: bold;
	text-transform: uppercase;
    transition: opacity 100ms ease-in;
}

.add-message:hover {
	opacity: 0.9;
}

/** Form Page Styling */

.form-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.7rem;
}

.form-header {
	text-align: center;
	padding: 1rem;
	width: 100%;
	background-color: var(--peach-clr);
}

.form-body {
	width: 500px;
	color: var(--light-clr);
}

.form-body form {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.input-control {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.input-control label {
    font-weight: bolder;
    font-size: 1.2rem;
	color: var(--dark-blue);
}

.input-control input {
    padding: .5rem;
    background-color: var(--gray);
	border: 1px solid var(--dark-blue);
    border-radius: 3px;
}

.submit-btn {
    background-color: var(--green-clr);
    color: var(--dark-blue);
    padding: .4rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    margin-top: .4rem;
    transition: opacity 100ms ease-in;
}

.submit-btn:hover {
    opacity: .9;
}

.home-pg-btn {
    text-align: center;
    text-decoration: underline;
    color: var(--dark-blue);
}

.home-pg-btn:hover {
    color: blue;
}

/** Error Page Styling */

.error-page {
	color: var(--light-clr);
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1.3rem;
}

.error-page h1 {
	text-align: left;
}

.error-page a {
	font-size: 1.2rem;
}

.error-page a:hover {
	text-decoration: underline;
	color: blue;
}
